{% block head %}
    <!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="images/logo.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Igmer Rodriguez</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900" rel="stylesheet">
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="{{ asset('css/linearicons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
</head>
{% endblock %}
{% block menu %}
<body>
<!-- Start Preloader Area -->
<div class="preloader-area">
    <div class="loader-box">
        <div class="loader"></div>
    </div>
</div>
<!-- End Preloader Area -->
<!-- Start Header Area -->
<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center d-flex">
            <div id="logo">
                <a href="{{ path('index') }}"><img src="images/logo.png" alt="" title=""/></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class=""><a class="active" href="{{ path('index') }}">Home</a></li>
                    <li><a href="{{ path('mihistoria') }}">Mi Historia</a></li>

                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- End Header Area -->
{% endblock menu %}
{% block body %}
{% endblock body %}
{% block footer %}

<!-- Start Contact Area -->
<section class="contact-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-title">
                    <h2>Contactame</h2>
                    <p>Nececistas un sistema? o talvez una aplicación? tu sitio tiene un virus?. Puedes contactarme y
                        trabajamos ;)</p>
                </div>
            </div>
        </div>

        <div class="row mt-80">
            <div class="col-lg-4 col-md-4">
                <div class="contact-box">
                    <h4>+503 7747 6504</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="contact-box">
                    <h4>igmerdz@gmail.com</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="contact-box">
                    <h4>igmer-rodriguez.com</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">

                <a href="https://www.workana.com/freelancer/78d7a0b74d5ab71cbc68ccbf6c3dd04f" class="primary-btn mt-50"
                   data-text="Contratar">
                    <span>C</span>
                    <span>o</span>
                    <span>n</span>
                    <span>t</span>
                    <span>r</span>
                    <span>a</span>
                    <span>t</span>
                    <span>a</span>
                    <span>r</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Area -->


<!-- start footer Area -->
<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="footer-top flex-column">
                    <div class="footer-logo">
                        <a href="#">
                            <img src="images/logo.png" alt="">
                        </a>
                        <h4>Follow Me</h4>
                    </div>
                    <div class="footer-social">
                        <a href="https://www.facebook.com/IgmerRodriguez"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/Igmerdz"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/igmer"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/igmer-rodriguez-90b43782/"><i
                                    class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom justify-content-center">
            <p class="col-lg-8 col-sm-12 footer-text">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
    </div>
</footer>
<!-- End footer Area -->

<!-- ####################### Start Scroll to Top Area ####################### -->
<div id="back-top">
    <a title="Go to Top" href="#">
        <i class="lnr lnr-arrow-up"></i>
    </a>
</div>
<!-- ####################### End Scroll to Top Area ####################### -->
</body>
</html>
{% endblock footer %}
{% block javascripts %}

    <script src="{{ asset('js/vendor/jquery-2.2.4.min.js') }} "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="{{ asset('js/easing.min.js') }}"></script>
    <script src="{{ asset('js/hoverIntent.js') }}"></script>
    <script src="{{ asset('js/superfish.min.js') }}"></script>
    <script src="{{ asset('js/mn-accordion.js') }}"></script>
    <script src="{{ asset('js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('js/jquery.circlechart.js') }}"></script>
    <script src="{{ asset('js/mail-script.js') }}"></script>
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock javascripts %}
