{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    {% block main %}
        <div id="main">
            <div class="inner">

                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <header>
                            <h1>Soluciones <br />
                                Tecnológicas</h1>
                            <p>Desarrollo de Software</p>
                        </header>
                        <p>Ing. en Sistemas dedicado al desarrollo de software, especializado en desarrollo de aplicaciones moviles, paginas web y bases de datos</p>
                        <p>	Mi pasion es la programacion, actualmente desarrollando paginas web con:
                        <ul>
                            <li>PHP - symfony</li>
                            <li>Python - Django</li>
                            <li>Javascript - NodeJS</li>
                            <li>ASP.NET</li>
                        </ul> </p>
                        <p>Aplicaciones moviles:
                        <ul>
                            <li>
                                Android - Java
                            </li>
                            <li>Hibridas - IONIC- Cordova y ReactNative</li>
                        </ul></p>
                        <!-- <ul class="actions">
                            <li><a href="#" class="button big">Learn More</a></li>
                        </ul> -->
                    </div>
                    <span class="image object">
										<img src="{{ asset('images/perfil.png') }}" alt="" />
									</span>
                </section>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Mi Trabajo</h2>
                    </header>
                    <div class="features">
                        <article>
                            <span class="icon brands fa-chrome"></span>
                            <div class="content">
                                <h3>Analista Programador</h3>
                                <p>Analista Programador en una entidad gubernamental, mi trabajo consiste en elaborar el Analisis y diseño de sistemas web usando PHP 7 con Symfony 2.8 y Sonata Project, PostgreSQL en sistemas Linux.</p>
                            </div>
                        </article>
                        <article>
                            <span class="icon solid fa-paper-plane"></span>
                            <div class="content">
                                <h3>Freelancer</h3>
                                <p>Freelancer en <a href="https://www.workana.com/freelancer/78d7a0b74d5ab71cbc68ccbf6c3dd04f?ref=user_dropdown">Workana</a>, Me gusta realizar trabajos,  especialemente enfocados a desarrollo de aplicaciones moviles, ademas brindo asesoría en desarrollo de Apps Hibridas y nativas. </p>
                            </div>
                        </article>
                        <article>
                            <span class="icon solid fa-rocket"></span>
                            <div class="content">
                                <h3>Administración de Servidores</h3>
                                <p>Administración y configuracion de servidores Linux, Mi entorno favorito para desarrollo e implementacion de sistemas es Debian y derivados. otros como Fedora, CentOS y RHEL</p>
                            </div>
                        </article>

                    </div>
                </section>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Portafolio</h2>
                    </header>
                    <div class="posts">
                        <article>
                            <a href="#" class="image"><img src="{{ asset('images/nexuss.jpg') }}" alt="StockApp" /></a>
                            <h3>StockApp</h3>
                            <p>Es una aplicacion movil que permite hacer ingresos, salidas, traslados y toma fisica de productos. Consume un Web Services SOAP</p>

                        </article>
                        <article>
                            <a href="#" class="image"><img src="{{ asset('images/tbapp.jpg') }}" alt="AppTB"  /></a>
                            <h3>AppTB</h3>
                            <p>Aplicacion movil que permite manejar pacientes, casos y contactos, se puede registrar tratamiento y visitas. Trabaja de forma OffLine y sincroniza con un servidor remoto a peticion del usuario</p>

                        </article>
                        <article>
                            <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                            <h3>Tempus ullamcorper</h3>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>

                        </article>
                        <article>
                            <a href="#" class="image"><img src="{{ asset('images/pic04.jpg') }}" alt="" /></a>
                            <h3>Sed etiam facilis</h3>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                            </ul>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
                            <h3>Feugiat lorem aenean</h3>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                            </ul>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
                            <h3>Amet varius aliquam</h3>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                            </ul>
                        </article>
                    </div>
                </section>

            </div>
        </div>
    {% endblock main %}

{% endblock %}